$accent: #FF4081;
$primary: #673AB7;
$primary-light: #D1C4E9;
$primary-dark: #512DA8;

$theme-colors: (
  "primary": $primary,
  "accent": $accent,
  "primary-light": $primary-light,
  "primary-dark": $primary-dark,
);